<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{! Styles'n'Scripts }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />

  {{! TypeKit fonts }}
  <script src="//use.typekit.net/odk7dao.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  {{ ghost_head }}
</head>
<body class="{{body_class}}">

  <header class="header">
    <a href="/" class="enchant-logo"></a>
    <ul class="navigation">
      <li><a href="#about" class="scrollable-anchor">About</a></li>
      <li><a href="#blog" class="scrollable-anchor">Blog</a></li>
    </ul>
  </header>

  <div class="wrap">
    {{{ body }}}
  </div>


  {{ ghost_foot }}
  <script type="text/javascript" src="{{asset "js/scripts.js"}}"></script>
</body>
</html>
