<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{! Styles'n'Scripts }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />

  {{! TypeKit fonts }}
  <script src="//use.typekit.net/odk7dao.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  {{! Segment analytics }}
  <script type="text/javascript">
    localEnv = window.location.toString().indexOf("localhost") > -1;
    if (!localEnv) {
      !function(){var analytics=window.analytics=window.analytics||[];if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.0";
        analytics.load("y80KPt5oXNteyGgmLpkw6R2qdG1hsgSv");
      }}();
    }
  </script>

  {{ ghost_head }}
</head>
<body class="{{body_class}}">

  <header class="header animated delayed fadeInDown">
    <a href="/" class="enchant-logo"></a>
    <ul class="navigation">
      {{#is "index"}}
        <li><a href="#about" class="scrollable-anchor">About</a></li>
        <li><a href="#blog" class="scrollable-anchor">Blog</a></li>
      {{else}}
        <li><a href="/#about" class="scrollable-anchor">About</a></li>
        <li><a href="/#blog" class="scrollable-anchor">Blog</a></li>
      {{/is}}
      
      <li>
        <a href="#books">Books</a>
        <div class="dropdown-container">
          <img src="http://paulmederos.s3.amazonaws.com/enchant/illustration-UX_book-v1.png" class="ux-book">
          <h3>We're working on a book.</h3>
          <p style="margin-bottom:.5em;">It's called <b>"Step-by-step Guide: Crafting Your UX Portfolio"</b> and it's aimed at people who want to break into interaction design professionally. We'll break down 
          what the best design cultures are looking for when hiring interaction designers.</p>
          <p><i>Bonus: toss in your email and we'll send you a special gift... the gift of knowledge!</i></p>
          {{> "mailchimp"}}
        </div>
      </li>
    </ul>
  </header>

  <div class="wrap">
    {{{ body }}}
  </div>


  {{ ghost_foot }}
  <script type="text/javascript" src="{{asset "js/scripts.js"}}"></script>
</body>
</html>
