{{!< default}}

<main class="content stand-alone" role="main">
  <article class="{{post_class}}">
    {{#post}}
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:title" content="{{title}}" />
      <meta name="twitter:url" content="{{url absolute='true'}}" />
      <meta name="twitter:description" content="{{excerpt words=40}}..." />

      <header class="post-header">
        <h1 class="post-title">{{title}}</h1>
      </header>

      <section class="post-content">
        {{content}}
      </section>

      <footer class="post-footer">
        {{#author}}
          <meta name="twitter:site" content="{{location}}" />
          <img class="post-author-avatar" src="{{image}}">
          <p>Written by <b>{{name}}</b> (<a href="http://twitter.com/{{location}}" target="_blank">{{location}}</a>)
        {{/author}}
          on <time class="post-date" datetime="{{date format='MM-YYYY-DD'}}">{{date format="MMM. Do, YYYY"}}</time>.</p>
        
      </footer>
    {{/post}}
  </article>
  {{!-- <div class="writing-a-book">
    <img src="http://paulmederos.s3.amazonaws.com/enchant/illustration-UX_book-v1.png" class="ux-book">
    <h3>We're working on a book.</h3>
    <p style="margin-bottom:.5em;">It's called <b>"Step-by-step Guide: Crafting Your UX Portfolio"</b> and it's aimed at people who want to break into interaction design professionally. We'll break down 
    what the best design cultures are looking for when hiring interaction designers.</p>
    <p><i>Bonus: toss in your email and we'll send you a special gift... the gift of knowledge!</i></p>
    {{> "mailchimp"}}
  </div> --}}
</main><!-- /.content -->

<script type="text/javascript">
  if (typeof analytics !== "undefined") {
    analytics.page(document.title);
  }
</script>
